<%- include('templates/header') %>
<main class="container">
    <h1 class="text-center my-5">Añadir servicio</h1>
    <form action="/servicios/nuevo" method="POST">
        <div class="mb-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Servicio" class="form-control">
        </div>
        <div class="mb-4">
            <label for="comentario" class="form-label">Comentario</label>
            <textarea name="comentario" id="comentario" rows="3" placeholder="Descripción del servicio" class="form-control"></textarea>
        </div>
        <% if (error) { %>
            <div class="d-flex justify-content-center my-2 invalid-feedback">
                <p class="mb-1 fw-bold"><%= error %></p>
            </div>
        <% } %>
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary me-4" href="/servicios/1" role="button">Cancelar</a>
            <button type="submit" class="btn btn-danger btn-sm">Añadir servicio</button>
        </div>
    </form>
</main>
<%- include('templates/footer') %>